:root {
    --title-font: 'Cinzel', serif;
    --title-font-size: clamp(2rem, 3vw, 9rem);
    --title-letter-spacing: 0.5rem;

    --section-title-font: 'Cinzel', serif;
    --section-title-font-size: clamp(3rem, 4vw, 7rem);

    --card-title-font: 'Cinzel', serif;
    --card-title-font-size: clamp(1.5rem, 2vw, 2.5rem);

    --card-key-word-text-font: 'Cormorant Garamond', serif;
    --card-key-word-text-font-size: clamp(1rem, 1.5vw, 2rem);

    --card-description-text-font: 'Lora', serif;
    --card-description-text-font-size: clamp(0.8rem, 1vw, 1.5rem);
}



body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0f0025;
    color: whitesmoke;

}

.header {
    width: 100%;
    padding: 5rem;

    background-color: #1e1e1e;
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.2);

    text-align: center;
}

.title {
    font-family: var(--title-font);
    font-size: var(--title-font-size);
    letter-spacing: var(--title-letter-spacing);
}

.cardsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

    gap: 4rem;
    padding: 2rem 0;
}

.majorArcanaSection,
.minorArcanaSection {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

    gap: 2rem;

    margin: 7rem 0;
}

.majorArcanaContainer,
.minorArcanaContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
    padding: 0.5rem 2rem;
    text-align: center;
}

.majorArcana__title,
.minorArcana__title,
.drawCardSection__title {
    font-family: var(--section-title-font);
    font-size: var(--section-title-font-size);
    margin-bottom: 2rem;

    width: 100%;

    padding: 2rem 0;
    text-align: center;
    background-color: #1e1e1e;
    box-shadow: 0.4rem 0 0.8rem rgba(139, 155, 184, 0.911);

    cursor: pointer;
    transition: ease-in-out 0.2s;
}

.majorArcana__title:hover,
.minorArcana__title:hover,
.drawCardSection__title:hover {
    box-shadow: 0.1rem 0.1rem 4rem rgba(139, 155, 184, 0.911);
}



.card {
    display: flex;
    flex-direction: column;
    align-items: center;

    flex-wrap: wrap;

    max-width: 32rem;
    height: auto;

    padding: 3rem 2rem;

    gap: 3rem;

    border: 0.1rem solid #333333;
    border-radius: 0.8rem;


    background-color: #1e1e1e;
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}

.card img {
    border-radius: 1.5rem;
    width: 70%;
    height: auto;
}

.card:hover {
    transform: translateY(-1rem);
    box-shadow: 0.1rem 0.1rem 2rem rgba(139, 155, 184, 0.911);

}

.card__info {
    display: flex;
    flex-direction: column;
    align-items: center;


    gap: 2rem;
}

.card__title {
    font-family: var(--card-title-font);
    font-size: var(--card-title-font-size);

}

.card__keyWords {
    font-family: var(--card-key-word-text-font);
    font-size: clamp(1rem, 1.5vw, 2rem);
    color: rgb(187, 164, 212);

    text-align: center;

    text-wrap: wrap;
    text-wrap-style: pretty;
}

.card__description {
    font-family: var(--card-description-text-font);
    font-size: var(--card-description-text-font-size);
    color: #cccccc;
    max-width: 100%;


    text-align: center;

    text-wrap: wrap;
    text-wrap-style: pretty;
}



.drawCardSection {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

    gap: 2rem;

    margin: 7rem 0;
}









.hidden {
    display: none;
}
