:root {
    --title-font: 'Cinzel', serif;
    --title-font-size: clamp(7rem, 3vw, 9rem);
    --title-letter-spacing: 0.5rem;

    --intro-font-family: 'Cinzel', serif;
    --intro-font-size: clamp(2.5rem, 2vw, 7rem);

    --section-title-font: 'Cinzel', serif;
    --section-title-font-size: clamp(3rem, 4vw, 7rem);

    --card-title-font: 'Cinzel', serif;
    --card-title-font-size: clamp(3rem, 2vw, 2.5rem);

    --card-key-word-text-font: 'Cormorant Garamond', serif;
    --card-key-word-text-font-size: 2rem;

    --card-description-text-font: 'Lora', serif;
    --card-description-text-font-size: clamp(1.7rem, 1vw, 1.5rem);


    --draw-card-section-title-hover: #a5971e;

    --draw-card-category-shadow: #e7d850e8;
    --draw-card-category-svg-shadow: #e7d85075;

    --draw-card-title-font: 'Cinzel', serif;
    --draw-card-title-hover: #a5971e;
    --draw-card-title-font-size: clamp(3rem, 2vw, 2.5rem);

    --draw-card-description-text-font: 'Lora', serif;
    --draw-card-description-text-font-size: clamp(1.7rem, 1vw, 1.5rem);
}



body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0f0025;
    color: #f5f5f5;

    gap: 2rem;

    padding-bottom: 7rem;
}

.header {
    width: 100%;
    padding: 5rem;

    background-color: #1e1e1e;
    box-shadow: 0 0.4rem 0.8rem #00000033;

    text-align: center;
}

.title {
    font-family: var(--title-font);
    font-size: var(--title-font-size);
    letter-spacing: var(--title-letter-spacing);
}

.cardsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

    gap: 4rem;
    padding: 2rem 0;


}

.cardsContainer__intro {
    font-family: var(--intro-font-family);
    font-size: var(--intro-font-size);
    color: #cccccc;
    max-width: 100%;

    padding: 1rem 3rem;

    text-align: center;
    text-wrap: wrap;
    text-wrap-style: pretty;
}

.majorArcanaSection,
.minorArcanaSection {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

    gap: 2rem;

}

.majorArcanaContainer,
.minorArcanaContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
    padding: 0.5rem 2rem;
    text-align: center;
}

.majorArcana__title,
.minorArcana__title {
    font-family: var(--section-title-font);
    font-size: var(--section-title-font-size);
    margin-bottom: 2rem;

    width: 100%;

    padding: 2rem 0;
    text-align: center;
    background-color: #1e1e1e;
    box-shadow: 0.4rem 0 0.8rem #8b9bb8e8;

    cursor: pointer;
    transition: ease-in-out 0.2s;
}

.majorArcana__title:hover,
.minorArcana__title:hover {
    box-shadow: 0.1rem 0.1rem 4rem #8b9bb8e8;
    color: #abc0e7;
}



.card {
    display: flex;
    flex-direction: column;
    align-items: center;

    flex-wrap: wrap;

    max-width: 32rem;
    height: auto;

    padding: 3rem 2rem;

    gap: 3rem;

    border: 0.1rem solid #333333;
    border-radius: 0.8rem;


    background-color: #1e1e1e;
    box-shadow: 0 0.4rem 0.8rem #00000033;
    transition: transform 0.2s;
}

.card img {
    border-radius: 1.5rem;
    width: 70%;
    height: auto;
}

.card:hover {
    transform: translateY(-1rem);
    box-shadow: 0.1rem 0.1rem 2rem #8b9bb8e8;

}

.card__info {
    display: flex;
    flex-direction: column;
    align-items: center;


    gap: 2rem;
}

.card__title {
    font-family: var(--card-title-font);
    font-size: var(--card-title-font-size);

}

.card__keyWords {
    font-family: var(--card-key-word-text-font);
    font-size: var(--card-key-word-text-font-size);
    color: #bba4d4;

    text-align: center;

    text-wrap: wrap;
    text-wrap-style: pretty;
}

.card__description {
    font-family: var(--card-description-text-font);
    font-size: var(--card-description-text-font-size);
    color: #cccccc;
    max-width: 100%;


    text-align: center;

    text-wrap: wrap;
    text-wrap-style: pretty;
}



.drawCardSection {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

    gap: 2rem;

    margin-top: 4rem;

}

.drawCardSection__title {
    font-family: var(--section-title-font);
    font-size: var(--section-title-font-size);
    margin-bottom: 2rem;

    width: 100%;

    padding: 2rem 0;
    text-align: center;
    background-color: #1e1e1e;
    box-shadow: 0.4rem 0 0.8rem var(--draw-card-category-shadow);

    cursor: pointer;
    transition: ease-in-out 0.2s;
}

.drawCardSection__title:hover {
    box-shadow: 0.1rem 0.1rem 4rem var(--draw-card-category-shadow);
    color: var(--draw-card-section-title-hover);

}

.drawCardCategoryContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
    padding: 0.5rem 2rem;
    text-align: center;
}



.drawCardCategory {
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: space-between;

    max-width: 32rem;
    min-height: 48rem;
    height: auto;

    padding: 3rem 2rem;

    gap: 5rem;

    border: 0.1rem solid #333333;
    border-radius: 0.8rem;


    background-color: #1e1e1e;
    box-shadow: 0 0.4rem 0.8rem #00000033;
    transition: transform 0.2s;
}

.drawCardCategory svg {
    width: 13rem;
    height: auto;
    transition: ease-in-out 0.2s;
}


.drawCardCategory:hover {
    transform: translateY(-1rem);
    box-shadow: 0.1rem 0.1rem 2rem var(--draw-card-category-shadow);
}

.drawCardCategory:hover svg {
    filter: drop-shadow(0.1rem 0.1rem 2rem var(--draw-card-category-svg-shadow));

}



.drawCardCategory__info {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 2rem;
}

.drawCardCategory__title {
    font-family: var(--draw-card-title-font);
    font-size: var(--draw-card-title-font-size);

    transition: ease-in-out 0.2s;
}

.drawCardCategory:hover .drawCardCategory__title {
    color: var(--draw-card-title-hover);
}

.drawCardCategory__description {
    font-family: var(--draw-card-description-text-font);
    font-size: var(--draw-card-description-text-font-size);
    color: #cccccc;
    max-width: 100%;

    text-align: center;
    text-wrap: wrap;
    text-wrap-style: pretty;
}

.drawCardCategory__instruction {
    font-family: var(--card-description-text-font);
    font-size: var(--card-description-text-font-size);
    color: #a5971e;
    max-width: 100%;

    text-align: center;
    text-wrap: wrap;
    text-wrap-style: pretty;

    font-family: 'Cinzel', serif;
}

.drawCardCategory__button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}


.hidden {
    display: none;
}